body {
    font-size: 1.5em;
}

input {
    display: block;
    margin-bottom: 20px;
    font-size: 1em;
    outline: none;
}

.header {
    text-align: center;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.numberFull {
    width: 100%;
}

.number {
    width: 60px;
}

.readonly {
    background-color: #fff;
    border: none;
    color: #444;
}
